<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">Centro Social</a>
  </div>

  <div class="navbar-menu">
    <!-- <div class="navbar-start">
      <a class="navbar-item" routerLink="/socios">Socios</a>
      <a class="navbar-item" routerLink="/actas">Actas</a>
      <a class="navbar-item" routerLink="/actividades">Actividades</a>
    </div> -->

    <div class="navbar-end">
      <a class="navbar-item" routerLink="/login">Login</a>
    </div>
  </div>
</nav>
